@model Student

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/student", "Students"), ("","Details") })>

<h3 class="mt-4 mb-4">Student Details</h3>

<div class="card shadow rounded p-3">
    <div class="row pl-3">
        <!-- Details -->
        <div class="col-8 pt-3">
            <dl class="row">       
                <dt class="col-5">Name</dt>
                <dd class="col-7">@Model.Name</dd>

                <dt class="col-5">Course</dt>
                <dd class="col-7">@Model.Course</dd>
                
                <dt class="col-5">Age</dt>
                <dd class="col-7">@Model.Age</dd>
                
                <dt class="col-5">Email</dt>
                <dd class="col-7">@Model.Email</dd>

                <dt class="col-5">Classification</dt>
                <dd class="col-7">@Model.Classification</dd>
            </dl>
                       
        </div>

        <!-- Photo -->
        <div class="col-4">
            <img src="@Model.PhotoUrl" class="img-fluid">
        </div>
    </div>

    <!-- action options -->
    <div class="row pl-3"> 

        <!-- add navigation link to CreateTicket action, passing correct route parameter --> 
        <a asp-action="CreateTicket" asp-route-id="@Model.Id" class="btn btn-sm btn-info mr-2">
            <i class="bi bi-plus-square-dotted mr-1"></i>Add Ticket
        </a> 

        <!-- add navigation link to Details action, passing the correct route id parameter --> 
        <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-controller="Student" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-light mr-2">
            <i class="bi bi-pencil-square mr-1"></i>Edit Student
        </a>  

        <!-- add navigation link to redirect to Index action -->
        <a asp-controller="Student" asp-action="Index" class="btn btn-sm btn-light mr-4">
            <i class="bi bi-list mr-1"></i>Student List
        </a> 

        <!-- add navigation link to Delete action, passing the correct route id parameter --> 
        <button asp-condition=@(User.IsInRole("admin")) data-toggle="modal" data-target="#deleteModal" class="btn btn-sm  btn-link ml-4">
            <i class="bi bi-trash mr-1"></i>Delete Student
        </button>     
    
    </div>    

    <!-- Tickets -->   
    <div class="row p-3">
        <partial name="_Tickets" />
    </div>
</div>

<partial name="_DeleteModal" />
